<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin-bottom: 10px;">
    会议室：
    <%= f.collection_select :room_id, Room.all, :id, :desc %>
  </div>
  <div id="statusDiv">
  </div>
  <div class="input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon">申请人</span>
    <%= f.text_field :username, type: 'text', class: 'form-control' %>
  </div>
  <div class="input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon">会议主题</span>
    <%= f.text_field :title, type: 'text', class: 'form-control' %>
  </div>
  <div class="field">
    开始时间：
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    结束时间：
    <%= f.datetime_select :end_time %>
  </div>
  <div class="actions" style="width: 100%">
    <%= f.submit '提交', class: 'btn btn-success', style: 'width: 100%'%>
  </div>

  <script>
    var myDiv = document.getElementById("statusDiv");
    function request_room_status(){
      $(myDiv).empty();
      $.getJSON( "/rooms/" + document.getElementById("order_room_id").value + "/status/" + new Date().toJSON().slice(0,10).replace(/-/g, '') + ".json", function( data ) {
        var items = [];

        $.each( data, function(i, dict) {
          var one_item = '';
          $.each( dict, function(key, val) {
            if (key == "username") {
              one_item += "<h3><span class='label label-info'>" + val + " : ";
            } else if (key == "start_time") {
              one_item += val + " - ";
            } else {
              one_item += val + "</span></h3>";
            }
          });
          items.push(one_item);
        });

        $(items.join("")).appendTo(myDiv);
      });
    }

    document.getElementById("order_room_id").onchange = request_room_status
    $(document).ready(function () {
      $.urlParam = function(name){
        var results = new RegExp('[\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
        if (results == null) {
          return null;
        }
        return results[1] || 0;
      }
      room_id = $.urlParam('room');
      if (room_id != null) {
        $("#order_room_id").val(room_id);
      }
      request_room_status();
    });
  </script>
<% end %>
