<div class="panel panel-success">
  <div class="panel-heading">正在进行</div>
  <div class="panel-body">正在进行的会议</div>
    <% @orders.each do |order| %>
    <div class="btn-group"  style="width: 96%; margin-left: 2%; margin-bottom: 20px;">
      <button type="button" class="btn btn-default" style="width: 25%"><%= order.room.name %></button>
      <button type="button" class="btn btn-default" style="width: 25%"><%= order.username %></button>
      <button type="button" class="btn btn-default" style="width: 25%"><%= order.easy_end_time %> 结束</button>
      <%= link_to '取消/结束', order, method: :delete, data: { confirm: '确定取消/结束会议？' }, class: 'btn btn-danger', type: 'button', style: 'width: 25%'%>
    </div>
  <% end %>
</div>
<div class="panel panel-info">
  <div class="panel-heading">所有会议</div>
  <div class="panel-body">所有计划中的会议</div>
    <% @pre_orders.each do |order| %>
    <div class="btn-group"  style="width: 96%; margin-left: 2%; margin-bottom: 20px;">
      <button type="button" class="btn btn-default" style="width: 25%"><%= order.room.name %></button>
      <button type="button" class="btn btn-default" style="width: 25%"><%= order.username %></button>
      <button type="button" class="btn btn-default" style="width: 25%"><%= order.easy_end_time %> 结束</button>
      <%= link_to '取消/结束', order, method: :delete, data: { confirm: '确定取消/结束会议？' }, class: 'btn btn-danger', type: 'button', style: 'width: 25%'%>
    </div>
  <% end %>
</div>
