<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @order.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= @order.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @order.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @order.end_time %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
