<% unless notice.nil? %>
<div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<ul class="list-group">
  <li class="list-group-item">
    <strong>申请人:</strong>
    <%= @order.username %>
  </li>
  <li class="list-group-item">
    <strong>手机号:</strong>
    <%= @order.title %>
  </li>
  <li class="list-group-item">
    <strong>开始时间:</strong>
    <%= @order.easy_start_time %>
  </li>
  <li class="list-group-item">
    <strong>结束时间:</strong>
    <%= @order.easy_end_time %>
  </li>
</ul>

<%= link_to '返回', orders_path, class: 'btn btn-default', type: 'button', style: 'width: 100%;'%>
